@import url("https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap");

:root {
  --clr-background: #f8fafc;
  --clr-primary: #7969c9;
  --clr-secondary: #0f1729;
  --clr-text-primary: #7969c9;
  --clr-text-secondary: #0f1729;
  --clr-text: #ffffff;
  --clr-active: #0f1729;
  --clr-inactive: #7969c9;
  --clr-hover: #0f1729;
  --clr-card: #ffffff;
  --clr-border: #dee2e6;
  --clr-after: #7969c9;
  --clr-bg-primary: #7969c9;
  --clr-border-primary: #7969c9;
  --clr-border-secondary: #7969c9;
  --clr-footer: #0f1729;
}

.darkmode {
  --clr-background: #0f1729;
  --clr-primary: #7969c9;
  --clr-secondary: #0f1729;
  --clr-text-primary: #7969c9;
  --clr-text-secondary: #dddddd;
  --clr-text: #ffffff;
  --clr-active: #7969c9;
  --clr-inactive: #d4d4d4;
  --clr-hover: #7969c9;
  --clr-card: #0f1729;
  --clr-border: #7969c9;
  --clr-after: #7969c9;
  --clr-bg-primary: #7969c9;
  --clr-border-primary: #7969c9;
  --clr-border-secondary: #7969c9;
  --clr-footer: #0f1729;
}

body {
  background: var(--clr-background);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

::after,
::before {
  box-sizing: content-box;
}

/* Navbar styling overwrite end*/
.navbar {
  background: var(--clr-background);
}

.navbar-toggler {
  color: transparent;
  border: none;
}

.navbar-toggler span {
  color: var(--clr-primary) !important;
}

.container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.container-logo div i {
  padding: 12px 0;
  font-size: 1.4rem;
  color: var(--clr-primary);
}

#logo {
  font-family: "Bitcount", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  padding: 12px 0;
  height: 50px;
  font-size: 1.4rem;
  color: var(--clr-primary);
  letter-spacing: 3px;
}

#logo::after {
  content: "|";
  color: var(--clr-text-secondary);
  animation: blink 1s ease infinite;
}

.navbar-nav {
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  padding: 10px 0;
  color: var(--clr-inactive);
}

.nav-link:hover {
  color: var(--clr-hover);
}

.nav-link.active {
  font-weight: 500;
  position: relative;
  color: var(--clr-active) !important;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 2px;
  background: var(--clr-after);
}

#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-background);
  border: none;
}

#theme-switch svg:first-child {
  fill: #0f1729;
}

#theme-switch svg:last-child {
  fill: gold;
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}
/* Navbar styling overwrite end */

/* Class-bootstrap overwrite start */
.text-primary {
  color: var(--clr-text-primary) !important;
}

.text-secondary {
  color: var(--clr-text-secondary) !important;
}

.border-primary {
  border-left: 4px solid var(--clr-border-primary) !important;
}

.border-secondary {
  border: 2px solid var(--clr-border-secondary) !important;
}

.bg-primary {
  background: var(--clr-bg-primary) !important;
}
/* Class-bootstrap overwrite end */

/* Header styling start */
header {
  margin-bottom: 3rem;
}

header .banner {
  background-image: url(images/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 500px;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  color: var(--clr-text);
}

header .banner-content {
  max-width: 50%;
}

header .banner-content h2 {
  font-size: 3rem;
  font-family: "Bitcount Single";
  text-shadow: 4px 4px 5px #0f1729;
}

header .banner-content p {
  margin-bottom: 2.4rem;
  text-shadow: 4px 4px 5px #0f1729;
}

header .banner-content .button {
  background-color: var(--clr-primary);
  padding: 12px 2rem;
  text-decoration: none;
  color: var(--clr-text);
  border-radius: 50px;
  font-weight: 500;
  cursor: pointer;
}

.fa-angles-down {
  animation: bounce 1s linear infinite;
}

.icon {
  padding: 8px;
  position: relative;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px var(--clr-card),
    inset -4px -4px 6px var(--clr-card);
  border: 1px solid var(--clr-border);
}

.bg-card {
  background: var(--clr-card);
}
/* Header styling end */

/* Section styling start */
#hero {
  margin-bottom: 3rem;
}

#ai,
#manfaat {
  padding: 4rem;
  min-height: 100vh;
}

#dampak {
  padding: 4rem;
}

#section-2 {
  padding: 0 4rem;
}
/* Section styling end */

/* Component styling start */
.title-section {
  margin-bottom: 3rem;
}

.title-section .title {
  position: relative;
}

.hover-card {
  transition: all 0.3s linear;
}

.hover-card:hover {
  transform: translateY(-3px);
}
/* Component styling end*/

/* Hero section start */
.hero-card {
  position: relative;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.hero-card::after,
.hero-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(
    from var(--angle),
    transparent 70%,
    var(--clr-primary)
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 2px;
  z-index: -1;
  border-radius: 10px;
  animation: spin 3s linear infinite;
}

.darkmode .hero-card::after,
.darkmode .hero-card::before {
  background-image: conic-gradient(
    from var(--angle),
    transparent 70%,
    #ff4545,
    #00ff99,
    #006aff,
    #ff0095,
    #ff4545
  );
}
/* Hero section end */

/* AI section styling start */
.image-content img {
  width: 300px;
  border-radius: 12px;
}

.btn-link > a {
  background-color: var(--clr-background) !important;
  color: var(--clr-primary) !important;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-decoration: none;
  position: relative;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.btn-link > a::after,
.btn-link > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(
    from var(--angle),
    transparent 70%,
    var(--clr-primary)
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 2px;
  border-radius: 10px;
  z-index: -1;
  animation: spin 3s linear infinite;
}

.btn-link > a::before,
.manfaat-card::before,
.hero-card::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

.btn-link > a > i,
.list-group-2 + a > i {
  animation: right 1s linear infinite;
}

/* AI section styling end */

/* Manfaat styling start */
.list-group {
  list-style-type: none;
  padding-left: 1.5rem;
  color: var(--clr-text-secondary);
}

.list-group li::marker {
  content: "✔️ ";
  font-size: 1rem;
}

.list-group-2 {
  list-style-type: none;
  padding-left: 1.5rem;
  color: var(--clr-text-secondary);
}

.list-group-2 li::marker {
  content: "🟣";
  font-size: 1rem;
}

.list-group-2 + a {
  display: inline-block;
  background: var(--clr-primary);
  padding: 4px 8px;
  border-radius: 8px;
  margin-top: 1rem;
  color: var(--clr-text);
  text-decoration: none;
  transition: all 0.3s linear;
}

.list-group-2 + a:hover {
  transform: scale(1.1);
}

.manfaat-card {
  position: relative;
}

.manfaat-card::after,
.manfaat-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(
    from var(--angle),
    transparent 70%,
    var(--clr-primary)
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 2px;
  border-radius: 8px;
  animation: spin 3s linear infinite;
}
/* Manfaat styling end */

/* Dampak section start*/
.dampak .col-md-12 {
  padding: 1rem;
}
/* Dampak section end*/

/* Footer start */
footer {
  background: var(--clr-footer);
}

footer .link-sosmed > div {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-secondary);
  padding: 12px;
  border-radius: 50%;
}
/* Footer end */

/* Animasi start*/
@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }
}

@keyframes right {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(5px);
  }
}
/* Animasi end */

/* Responsive mobile start */
@media (max-width: 600px) {
  header .banner-content {
    max-width: 80%;
  }

  header .banner-content h2 {
    font-size: 1.6rem;
  }

  header .banner-content p {
    font-size: 14px;
    margin-bottom: 2rem;
  }

  header {
    padding: 2rem 0 0 0;
    margin-bottom: 1rem;
  }

  header .banner {
    padding: 1rem;
    height: 400px;
    background-position-x: 75%;
  }

  .container-card {
    padding: 0 1rem;
  }

  #manfaat {
    padding: 5rem 1rem;
  }

  #ai {
    padding: 5rem 1rem;
  }

  #dampak {
    padding: 5rem 1rem;
  }
}
/* Responsive mobile end */
 